<%- include('../../partials/head') %> <%- include('../../partials/header') %>

<h1>Items:</h1>

<% if (locals.items.length == 0) {%>
<p>Not items found.</p>
<% } else { %>
<hr />
<div class="div_table">
  <% locals.types.forEach((type) => {%>
  <div class="table_child">
    <h3 class="table_title"><%= type.type_name %></h3>
    <table>
      <tr>
        <th class="th_item">Item</th>
        <th class="th_slot">Slot</th>
        <th class="th_cost">Cost</th>
      </tr>
      <% locals.items.forEach((item)=> { %> <% if(item.type_name ==
      type.type_name) {%>
      <tr>
        <td>
          <span>
            <img src="<%= item.image_url %>" width="18" height="18" />
          </span>
          <span class="itemLink">
            <a href="/items/<%= item.item_id %>">[<%= item.name %>]</a>
          </span>
        </td>
        <td><%= item.slot_name %></td>
        <td>
          <span><%= item.slot_price %></span>
          <span
            ><img src="/images/frostemblem.webp" width="18" height="18"
          /></span>
        </td>
      </tr>
      <% } %> <% }) %>
    </table>
  </div>

  <% }) } %>
</div>
