<%- include('../../partials/head') %> <%- include('../../partials/header') %>

<h1><%= locals.title %>:</h1>

<form method="POST">
  <label for="name">Item name: </label>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Item name"
    required
    value="<%= locals.item ? item.name : '' %>"
  />

  <label for="slot_id">Choose a slot: </label>
  <select name="slot_id" id="slot_id" required>
    <option value="">--Please select a slot--</option>
    <% locals.allSlots.forEach((slot) => {%>
    <option <%= locals.item ? (item.slot_id == slot.slot_id ? 'selected' : '') : '' %> value="<%= slot.slot_id %>">
      <%= slot.slot_name %>
    </option>
    <% }) %>
  </select>

  <label for="item_type_id">Choose an item type: </label>
  <select name="item_type_id" id="item_type_id" required>
    <option value="">--Please select an item type--</option>
    <% locals.allItemTypes.forEach((itemType) => {%>
    <option <%= locals.item ? (item.item_type_id == itemType.item_type_id ? 'selected' : ''): '' %> value="<%= itemType.item_type_id %>">
      <%= itemType.type_name %>
    </option>
    <% }) %>
  </select>

  <label for="ilvl">Item Level: </label>
  <select name="ilvl" id="ilvl" required>
    <option value="">--Please select item level--</option>
    <% [251, 264].forEach((value) => {%>
    <option value="<%= value %>" <%= locals.item ? (item.ilvl == value ? 'selected' : '') : '' %>>
      <%= value %>
    </option>
    <% }) %>
  </select>

  <label for="description">Description: </label>
  <input
    type="text"
    name="description"
    id="description"
    placeholder="Item Description"
    value="<%= locals.item ? item.description : '' %>"
  />

  <label for="image_url">Image URL: </label>
  <input
    type="url"
    name="image_url"
    id="image_url"
    value="<%= locals.item ? item.image_url : '' %>"
  />

  <button type="submit">Submit</button>
</form>


<% if (locals.errors) {%>
<ul>
  <% errors.forEach(error => {%>
  <li>
    <p><%= error.msg %></p>
  </li>
  <% }) %>
</ul>
<% } %>