<%- include('../../partials/head') %> <%- include('../../partials/header') %>

<h1>Items:</h1>

<% if (locals.items.length == 0) {%>
<p>Not items found.</p>
<% } else { %>
<hr />
<% locals.items.forEach((item) => {%>
<ul>
  <li>
    <p>
      Item name:
      <a href="/items/<%= item.item_id %>"
        ><%= item.name %> -
        <img src="<%=item.image_url %>" width="48" height="48"
      /></a>
    </p>
  </li>
</ul>
<hr />
<% }) } %>
