<%- include('../../partials/head') %> <%- include('../../partials/header') %>

<h1><%= locals.title %> :</h1>

<% if (items.length) {%>
<p>Delete the following items before deleting the slot.</p>
<ul>
  <% items.forEach((item) => { %>
  <li>
    <p><a href="/items/<%= item.item_id %>"><%= item.name %></a></p>
  </li>
  <% }) %>
</ul>

<% } else {%>
<p>Do you really want to delete the slot?</p>
<form method="POST">
  <button type="submit">Delete</button>
</form>
<% } %>
